<div class="form" [formGroup]="form">
    <div class="form-field" *ngIf="get('caption') as field">
        <label for="caption">caption</label>
        <input type="text" formControlName="caption">
    </div>

    <div class="form-field" *ngIf="get('description') as field">
        <label for="description">Description</label>
        <textarea rows="4" formControlName="description"></textarea>
        <app-error-presenter [errors]="field.errors"></app-error-presenter>
    </div>

    <div class="form-field">
        <label  for="image">Icon</label>
        <mat-form-field appearance="fill"  *ngIf="get('image') as field">
            <mat-select [formControl]="imageControl" name="image" [(value)]="selectedimage">
                <mat-select-trigger>
                    <mat-icon>{{selectedimage}}</mat-icon>
                </mat-select-trigger>
                <mat-option *ngFor="let image of images" [value]="image">
                    <mat-icon>{{image}}</mat-icon>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-field">
        <label  for="color">Color</label>
        <select class="{{colors[0]}}" [formControl]="colorControl" onchange="this.className='form-field '+this.options[this.selectedIndex].className">
            <option disabled=true></option>
            <option class="{{color}}" *ngFor="let color of colors">{{color}}</option>
        </select>
    </div>
    <button [disabled]="form.invalid" (click)="onSave()">Save</button>
</div>