<div class="root">
  <!-- <div class="app-title">
    <h1>ToDo App</h1>
  </div>
  <app-nav-bar></app-nav-bar>
 <app-home></app-home> -->


  <!-- <span class="material-icons">pie_chart</span> -->


  <!-- <mat-icon class="red-icon">work</mat-icon>
  <mat-icon>shopping_cart</mat-icon>
  <mat-icon>event</mat-icon>
  <mat-icon class="red-icon">stars</mat-icon>
  <mat-icon>flag</mat-icon> -->
    <!-- <app-lists></app-lists>
    <app-items-view></app-items-view> 
  <app-list-edit></app-list-edit>-->
  <app-list-view ></app-list-view>
</div>