<div class="root">
  <div class="app-title">
    <h1>ToDo App</h1>
  </div>
  <nav class="menu-bar">
    <a href="">Home</a>
    <a href="">Lists</a>
    <a href="">Items</a>
  </nav>
  <div class="created-by">
    <h1>ToDos App</h1>
    <h2>by Avri Bazar</h2>
    <h3>12/062021</h3>
  </div>
  <div class="user-actions">
    <div class="action-button">Create new list</div>
    <div class="action-button">View all lists</div>
    <div class="action-button">View all items</div>
  </div>
  <div class="info-presenter">
    <div class="presenter">
      <mat-icon class="icon">list</mat-icon>
      <h1>0</h1>
      <p>Lists</p>
    </div>
    <div class="presenter">
      <mat-icon class="icon">check</mat-icon>
      <h1>0</h1>
      <p>ToDo Items</p>
    </div>
    <div class="presenter">
      <mat-icon class="icon">hourglass_empty</mat-icon>
      <h1>0</h1>
      <p>Active Items</p>
    </div>
  </div>
<!-- 
  <span class="material-icons">pie_chart</span>          Filled -->


  <!-- <mat-icon class="red-icon">work</mat-icon>
  <mat-icon>shopping_cart</mat-icon>
  <mat-icon>event</mat-icon>
  <mat-icon class="red-icon">stars</mat-icon>
  <mat-icon>flag</mat-icon> -->

</div>