nav{
    grid-row: 2/2;
    grid-column: 1/-1;
    height: auto;
    background-color: rgb(185, 175, 241);
}
.menu-bar a{
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}

.menu-bar a.active-link{
    background-color: rgb(119, 185, 99);
    color: rgb(170, 36, 36);
}

.menu-bar a:hover{
    background-color: rgb(142, 99, 185);
    color: rgb(236, 209, 250);
}