<div class="created-by">
    <h1>ToDos App</h1>
    <h2>by Avri Bazar</h2>
    <h3>{{date|date:'dd/MM/YYYY'}}</h3>
  </div>
  <div class="user-actions">
    <div class="action-button">Create new list</div>
    <div class="action-button">View all lists</div>
    <div class="action-button">View all items</div>
  </div>
  <div class="info-presenter">
    <div class="presenter">
      <mat-icon class="icon">list</mat-icon>
      <h1>0</h1>
      <p>Lists</p>
    </div>
    <div class="presenter">
      <mat-icon class="icon">check</mat-icon>
      <h1>0</h1>
      <p>ToDo Items</p>
    </div>
    <div class="presenter">
      <mat-icon class="icon">hourglass_empty</mat-icon>
      <h1>0</h1>
      <p>Active Items</p>
    </div>
  </div>

